h1{text-align:center;margin:0;padding:0;}
h2{text-align:center;}
div{border:2px solid;border-radius:2px;display:inline-block;font-family:monospace;color:#000;border-color:silver;padding:.3%;}
#page{background:#000;color:#FFF;height:100%;width:100%;}
#spimage{float:right;width:60%;height:60%;}
#curmenu{float:left;width:30%;height:60%;}
#laymenu{float:left;width:30%;height:30%;}
#contrib{text-align:right;float:right;width:60%;height:30%;}
#loaddialog{width:95%;height:65%;}
#filemenu{float:left;width:50%;}
#preview{height:70%;width:15%;float:right;}
.button{background:silver;width:21%;height:68px;}
.thumb{text-align:center;border:thick;}
.label{background:#FFF;width:21%;height:68px;}
.info{background:grey;}
.menu{background:grey;height:90%;}
.page{padding:10%;}
.preview{border:thick;background:#FFF;width:30%;height:85%;}
.slidewheel{background:#FFF;width:96%;height:20%;}
.hidden{visibility:hidden;display:none;}
.dialog{text-align:center;width:95%;height:65%;}
html,body{height:100%;}
#loadimage,#advancetometa,#advancetoconfirm,#advancetoupload{float:right;}
