html{
	height:100%;
}
body{
	height:100%;
}
span {
	border:2px solid;
	border-radius:2px;
	padding:.3%;
	display: inline-block;
	font-family:monospace;
}
h1{
	padding:0;
	margin:0;
}
#page{
	height:100%;
}
#spimage{
	float:right;
	width:60%;
	height:60%;
}
#curmenu{
	float:left;
	width:30%;
	height:60%;
}
#laymenu{
	float:left;
	width:30%;
	height:30%;
}
#contrib{
	text-align:right;
	float:right;
	width:60%;
	height:30%;
}
#loaddialog{
	text-align:left;
	width:98%;
	height:85%;
}
#filemenu{
	float:left;
	width:60%;
}
#loadimage{
	float:right;
	bottom:1px;
}
.button{
	background:grey;
}
.menu{
	background:silver;
	height:90%;
}